body {
  background-image: url(image/back-ground.png);
  text-align: center;

  color: #FFD700;
  padding: 5px;
  text-shadow: 10px 10px 10px #000000;
  text-align: center;
}

h1{
  text-align: center;
  text-decoration: underline;
  color: red;
}

#Jeu {
  display: inline-block;
  background-color: black;
  margin: 0 auto;
  padding: 10px;
}

#Jeu div {
  margin: 0 auto;
  overflow: hidden;
}

#Jeu button {
  width: 100px;
  height: 100px;
  font-size: 50px;
  margin: 5px;
  float:left;
}

#StatutJeu {
  color: black;
  background: #eee;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}